<li>
	{{name}}
	{{#if eat}}
	<button class="change-eat" data-id="{{id}}" data-neweat="{{eat}}">
		Dinner Time! HERES UR BURGER!
	</button>
	{{else}}
	<button class="delete-burger" data-id="{{this.id}}">RUBBISH!</button>
	{{/if}}
</li>
